body {
  margin: 0;
  font-family: sans-serif;
}

#root {
  display: flex;
  flex-direction: row;
  min-height: 100vh;
}

.plant-list {
  flex: 2;
  padding: 1rem;
}

.cart {
  flex: 1;
  padding: 1rem;
}
